<h5>User Groups</h5>
{{#md-table content=groups class=tableClass as |group|}}
  {{md-table-col row=group valueBindingPath='name'}}
  {{#md-table-col row=row }}
    {{md-btn text='detail'
	action='openGroupDetail'
	actionArg=group
	class=buttonClass
	}}
  {{/md-table-col}}
  {{#md-table-col row=row }}
    {{md-btn text='remove'
	action='removeGroup'
	actionArg=group
	class=buttonClass
	}}
  {{/md-table-col}}
{{/md-table}}

{{md-btn text='new group'
	action='openNewGroup'
	class=buttonClass
	}}