<h5>Users</h5>
{{#md-table content=users class=tableClass as |user|}}
  {{md-table-col row=user valueBindingPath='name'}}
  {{#md-table-col row=row }}
    {{md-btn text='detail'
	action='openUserDetail'
	actionArg=user
	class=buttonClass
	}}
  {{/md-table-col}}
  {{#md-table-col row=row }}
    {{md-btn text='remove'
	action='removeUser'
	actionArg=user
	class=buttonClass
	}}
  {{/md-table-col}}
{{/md-table}}

    {{md-btn text='new user'
	action='openNewUser'
	class=buttonClass
	}}
